annotated-types==0.7.0
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
diskcache==5.6.3
distro==1.9.0
docker==7.1.0
FLAML==2.1.2
fonttools==4.52.4
frozendict==2.4.4
h11==0.14.0
html5lib==1.1
httpcore==1.0.5
httpx==0.27.0
lxml==5.2.2
matplotlib==3.9.0
multitasking==0.0.11
openai==1.30.4
peewee==3.17.5
protobuf==3.20.3
pyautogen==0.2.27
pydantic==2.7.1
pydantic_core==2.18.2
pyparsing==3.1.2
python-dotenv==1.0.1
regex==2024.5.15
termcolor==2.4.0
tiktoken==0.7.0
tqdm==4.66.4
webencodings==0.5.1
websocket-client @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d37u7gqts8/croot/websocket-client_1715878310260/work
widgetsnbextension @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_45ynevdsp5/croot/widgetsnbextension_1710960054121/work
wrapt @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_37a5af2b-c563-4ec6-9258-35772bae6a6agcs4j3hx/croots/recipe/wrapt_1657814428573/work
yfinance==0.2.40
